@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.navbar {
  padding: 20px 25px;
  margin: 0 auto;
  text-align: center;
  background-position: center;
}

.navbar-collapse {
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.searchbox button {
  width: 50px;
  font-family: 'Inconsolata', monospace;
  background-color: #FFEE93;
  border-radius: 12px;
  border: 1px solid #101D42;
}

.searchbox button:hover {
  background-color: #101D42;
  color: #ffffff;
}
